{% extends 'base.html.twig' %}

{% block title %}Company!
{% endblock %}

{% block body %}
	<section class="bg-home3" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2">
					<div class="mt-3 mt-md-0">
						{# <img class="img-fluid home-imgco" src="assets/images/co1.png" alt=""> #}
					</div>
				</div>
				<div class="col-lg-8">
					<div class="mb-2 pb-3 me-lg-6 text-center">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Find your
							<span class="text-primary fw-bold">dream company.</span>
						</h1>
						<p class="lead text-muted mb-0 pc-da">Get access to millions of company, search now and check jobs in world’s best companies</p>
					</div>
					<form class="comform sebor " action="#">
						<div class="registration-form">
							<div class="row g-0">
								<div class="col-md-10">
									<div class="filter-search-form  mt-3 mt-md-0">
										<i class="fa fa-briefcase icopa" aria-hidden="true"></i>
										<input type="search" id="job-title" class="form-control filter-input-box" placeholder="Search by Company Name">
									</div>
								</div>
								<!--end col-->

								<!--end col-->
								<div class="col-md-2">
									<div class="mt-2 mt-md-0 h-100">
										<button class="btn btn-primary submit-btn w-100 h-100" type="submit">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-2">
					<div class="mt-3 mt-md-0">
						{# <img class="img-fluid home-imgco" src="assets/images/co2.png" alt=""> #}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="company mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div
					class="text-lg-start">
					<!-- ---------------------------- -->

					<div class="alert  bgco text-primary" role="alert">
						<div class="row">
							<div class="col-lg-3">
								<h5 class="fs-18 mb-2 mt-4 ptla">Top companies</h5>
								<p class="lead text-muted mb-0 pc-da">Here are some companies you might be interested in</p>
								<a href="#" class="btn btn-primary btn-hover mt-4">View all Companys
								</a>
							</div>
							<div class="col-lg-3">
								<div class="col-lg-12 col-md-6 mt-2 pt-1">
									<div class="about-feature p-3 d-flex align-items-center rounded-3">
										<div class="boxlogoicon">
											<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-04.png" alt=""></a>
										</div>
										<div class="flex-grow-1 ms-3">
											<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
											<p class="texthead">1.4K Jobs actively hiring</p>
											<p class="textgro">
												<i class="fa fa-users isty" aria-hidden="true"></i>
												50+ people hired</p>
										</div>
									</div>
									<!--about-feature-->
								</div>
								<div class="col-lg-12 col-md-6 mt-2 pt-1">
									<div class="about-feature p-3 d-flex align-items-center rounded-3">
										<div class="boxlogoicon">
											<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-02.png" alt=""></a>
										</div>
										<div class="flex-grow-1 ms-3">
											<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
											<p class="texthead">1.4K Jobs actively hiring</p>
											<p class="textgro">
												<i class="fa fa-users isty" aria-hidden="true"></i>
												50+ people hired</p>
										</div>
									</div>
									<!--about-feature-->
								</div>
							</div>
							<div class="col-lg-3">
								<div class="col-lg-12 col-md-6 mt-2 pt-1">
									<div class="about-feature p-3 d-flex align-items-center rounded-3">
										<div class="boxlogoicon">
											<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-10.png" alt=""></a>
										</div>
										<div class="flex-grow-1 ms-3">
											<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
											<p class="texthead">1.4K Jobs actively hiring</p>
											<p class="textgro">
												<i class="fa fa-users isty" aria-hidden="true"></i>
												50+ people hired</p>
										</div>
									</div>
									<!--about-feature-->
								</div>
								<div class="col-lg-12 col-md-6 mt-2 pt-1">
									<div class="about-feature p-3 d-flex align-items-center rounded-3">
										<div class="boxlogoicon">
											<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-09.png" alt=""></a>
										</div>
										<div class="flex-grow-1 ms-3">
											<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
											<p class="texthead">1.4K Jobs actively hiring</p>
											<p class="textgro">
												<i class="fa fa-users isty" aria-hidden="true"></i>
												50+ people hired</p>
										</div>
									</div>
									<!--about-feature-->
								</div>
							</div>
							<div class="col-lg-3">
								<div class="col-lg-12 col-md-6 mt-2 pt-1">
									<div class="about-feature p-3 d-flex align-items-center rounded-3">
										<div class="boxlogoicon">
											<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-03.png" alt=""></a>
										</div>
										<div class="flex-grow-1 ms-3">
											<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
											<p class="texthead">1.4K Jobs actively hiring</p>
											<p class="textgro">
												<i class="fa fa-users isty" aria-hidden="true"></i>
												50+ people hired</p>
										</div>
									</div>
									<!--about-feature-->
								</div>
								<div class="col-lg-12 col-md-6 mt-2 pt-1">
									<div class="about-feature p-3 d-flex align-items-center rounded-3">
										<div class="boxlogoicon">
											<a href="#">
												<img class="img-fluid rounded-3" src="assets/images/featured-job/img-08.png" alt=""></a>
										</div>
										<div class="flex-grow-1 ms-3">
											<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
											<p class="texthead">1.4K Jobs actively hiring</p>
											<p class="textgro">
												<i class="fa fa-users isty" aria-hidden="true"></i>
												50+ people hired</p>
										</div>
									</div>
									<!--about-feature-->
								</div>
							</div>
						</div>
					</div>

					<!-- ---------------------------- -->

				</div>
			</div>
		</div>
	</section>

	<!-- START JOB-LIST -->
	<section class="pa-les">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h3 class="title mb-4">All Filters<span class="text-muted">
								&nbsp; (Applied 1)</span>
						</h3>
					</div>
					<div class="col-lg-12">
						<div class="candidate-list-widgets mb-5">
							<form action="#">
								<div class="row g-2">
									<div class="col-lg-2"></div>
									<div class="col-lg-2">
										<div class="filler-job-form">
											<i class="uil uil-location"></i>
											<div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
												<div class="choices__inner">
													<select class="form-select choices__input" data-trigger="" name="industry" id="industry" aria-label="Default select example" hidden="" tabindex="-1" data-choice="active">
														<option value="Industry" data-custom-properties="[object Object]">Industry</option>
													</select>
													<div class="choices__list choices__list--single">
														<div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="Industry" data-custom-properties="[object Object]" aria-selected="true">Industry</div>
													</div>
												</div>
												<div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search" name="search_terms" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null" placeholder="" aria-activedescendant="choices--industry-item-choice-3"><div class="choices__list" role="listbox">
														<div id="choices--industry-item-choice-1" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="1" data-value="As" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Asuz</div>
														<div id="choices--industry-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="De" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Dell</div>
														<div id="choices--industry-item-choice-3" class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted" role="option" data-choice="" data-id="3" data-value="Industry" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Industry</div>
														<div id="choices--industry-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="No" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Nokiya</div>
														<div id="choices--industry-item-choice-5" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="5" data-value="Po" data-select-text="Press to select" data-choice-selectable="">Poppins</div>
														<div id="choices--industry-item-choice-6" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="6" data-value="Sa" data-select-text="Press to select" data-choice-selectable="">Samsung</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--end col-->
									<div class="col-lg-2">
										<div class="filler-job-form">
											<i class="uil uil-location-point"></i>
											<div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
												<div class="choices__inner">
													<select class="form-select choices__input" data-trigger="" name="choices-single-location" id="choices-single-location" aria-label="Default select example" hidden="" tabindex="-1" data-choice="active">
														<option value="Department" data-custom-properties="[object Object]">Department</option>
													</select>
													<div class="choices__list choices__list--single">
														<div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="Department" data-custom-properties="[object Object]" aria-selected="true">Department</div>
													</div>
												</div>
												<div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search" name="search_terms" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null" placeholder="" aria-activedescendant="choices--choices-single-location-item-choice-3"><div class="choices__list" role="listbox">
														<div id="choices--choices-single-location-item-choice-1" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="1" data-value="Ar" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Artist</div>
														<div id="choices--choices-single-location-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="Co" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Coding</div>
														<div id="choices--choices-single-location-item-choice-3" class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted" role="option" data-choice="" data-id="3" data-value="Department" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Department</div>
														<div id="choices--choices-single-location-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="De" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Desing</div>
														<div id="choices--choices-single-location-item-choice-5" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="5" data-value="De" data-select-text="Press to select" data-choice-selectable="">Devlepment</div>
														<div id="choices--choices-single-location-item-choice-6" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="6" data-value="Re" data-select-text="Press to select" data-choice-selectable="">Repair</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--end col-->
									<div class="col-lg-2">
										<div class="filler-job-form">
											<i class="uil uil-clipboard-notes"></i>
											<div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
												<div class="choices__inner">
													<select class="form-select choices__input" data-trigger="" name="choices-single-categories" id="choices-single-categories" aria-label="Default select example" hidden="" tabindex="-1" data-choice="active">
														<option value="4" data-custom-properties="[object Object]">Location</option>
													</select>
													<div class="choices__list choices__list--single">
														<div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="4" data-custom-properties="[object Object]" aria-selected="true">Location</div>
													</div>
												</div>
												<div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search" name="search_terms" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null" placeholder=""><div class="choices__list" role="listbox">
														<div id="choices--choices-single-categories-item-choice-1" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="1" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">India</div>
														<div id="choices--choices-single-categories-item-choice-2" class="choices__item choices__item--choice is-selected choices__item--selectable" role="option" data-choice="" data-id="2" data-value="4" data-select-text="Press to select" data-choice-selectable="">Location</div>
														<div id="choices--choices-single-categories-item-choice-3" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="3" data-value="5" data-select-text="Press to select" data-choice-selectable="">USA</div>
														<div id="choices--choices-single-categories-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="3" data-select-text="Press to select" data-choice-selectable="">Zambia</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--end col-->
									<div class="col-lg-2">
										<div>
											<a href="javascript:void(0)" class="btn btn-primaryfi">
												<i class="fa fa-filter" aria-hidden="true"></i>
												Filter</a>
										</div>
									</div>
									<div class="col-lg-2">
										<p class="clearbu">
											<a href="#">
												<i class="fa fa-times" aria-hidden="true"></i>&nbsp;  ClearFilter
											</a>
										</p>
									</div>
								</div>
								<!--end row-->
							</form>
							<!--end form-->
						</div>
						<hr>
					</div>
					<!--end col-->
				</div>
				<!--end row-->

				<!--end-->
			</div>
			<!--end container-->
		</div>
	</section>
	<!-- END JOB-LIST -->
	<!--starrt-->

	<!-- START JOB-LIST -->
		<section class="pa-les"> <div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h3 class="title mb-2">Top
							<span class="text-primary fw-bold">
								Hiring Companies</span>
						</h3>
						<p class="text-muted mb-3 fs-13">Find the right career opportunity for you.</p>
					</div>
				</div>
				<!-- -------------------------- -->

				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-02.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-01.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-03.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-04.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-05.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-06.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-07.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-08.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-09.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-10.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-02.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-03.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-04.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-05.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-06.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 col-md-6 mt-2 pt-1">
						<div class="about-feature p-3 d-flex align-items-center rounded-3">
							<div class="boxlogoicon">
								<a href="#"><img class="img-fluid rounded-3" src="assets/images/featured-job/img-07.png" alt=""></a>
							</div>
							<div class="flex-grow-1 ms-3">
								<h6 class="fs-15 mt-0 sufont">Capegemini</h6>
								<p class="texthead">1.4K Jobs actively hiring</p>
								<p class="textgro">
									<i class="fa fa-users isty" aria-hidden="true"></i>
									50+ people hired</p>
							</div>
						</div>
						<!--about-feature-->
					</div>
				</div>
				<div class="text-center mt-5">
					<button type="button" class="btn btn-outline-primary">Load More Companies</button>
				</div>

				<!-- -------------------------- -->
			</div>
		</div>
	</section>

	<!-- End JOB-LIST -->
	<!-- company-LIST -->
	<section class="pa-les">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12">

					<!-- -------------------------- -->
					<div class="row mt-5 mb-4">
						<div class="col-lg-3 border01"></div>
						<div class="col-lg-6">
							<h3 class="title mb-2 text-center log_co">Popular
								<span class="text-primary fw-bold">
									Companies Suggested for you</span>
							</h3>
						</div>
						<div class="col-lg-3 border01"></div>
					</div>
					<div class="row justify-content-center mt-5">
						<div class="col-lg-12">
							<div class="swiper testimonialSlider pb-5 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
								<div class="swiper-wrapper" id="swiper-wrapper-40566fc237e11a44" aria-live="off" style="transform: translate3d(-2272px, 0px, 0px); transition-duration: 300ms;">
									<div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 1" style="width: 1116px; margin-right: 20px;">
										<div class="card testi-box">
											<div class="card-body" style="">
												<div class="row">
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-01.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-02.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-03.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-04.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-05.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-06.png" alt="">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide swiper-slide-duplicate-active swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 1" style="width: 1116px; margin-right: 20px;">
										<div class="card testi-box">
											<div class="card-body" style="">
												<div class="row">
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-01.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-02.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-03.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-04.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-05.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-06.png" alt="">
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end swiper-slide-->
									<div class="swiper-slide swiper-slide-duplicate swiper-slide-active swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 1" style="width: 1116px; margin-right: 20px;">
										<div class="card testi-box">
											<div class="card-body" style="">
												<div class="row">
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-01.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-02.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-03.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-04.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-05.png" alt="">
													</div>
													<div class="col-lg-2 log_pa">
														<img class="img-fluid teimg" src="assets/images/logo/logo-06.png" alt="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end swiper-wrapper-->
								<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
									<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span>
								</div>
								<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
							</div>
							<!--end swiper-container  -->

						</div>
						<!--end col-->
					</div>
					<div class="row mb-2">
						<div class="col-lg-12 border01"></div>
					</div>
					<!-- -------------------------- -->

				</div>
			</div>

		</div>
	</section>

	<!-- company-LISTEnd -->

	<section class="sectiontono">
		<div class="container">
			<div class="row justify-content-center">
				<div class="text-center">
					<div class="section-title text-center mb-5 mt-4 pb-2">
						<h3 class="title mb-2 mt-4">Trusted
							<span class="text-primary fw-bold">
								Companies Ads</span>
						</h3>
						<p class="text-muted mb-1 fs-14">Job Related advertisements for you! Check now</p>
					</div>

					<!-- ---------------------------- -->

					<div class="carousel-container">
						<div class="mySlides animate" style="display: none;">
							<img src="assets/images/second_baner.jpg" alt="slide">
						</div>
						<div class="mySlides animate" style="display: none;">
							<img src="assets/images/second_baner2.jpg" alt="slide">
						</div>
						<div class="mySlides animate" style="display: block;">
							<img src="assets/images/banner_4.png" alt="slide">
						</div>
						<div class="mySlides animate" style="display: none;">
							<img src="assets/images/5_baner.png" alt="slide">
						</div>
						<div class="mySlides animate" style="display: none;">
							<img src="assets/images/third_baner.png" alt="slide">
						</div>
						<a class="prev" style=" left:0%;" onclick="prevSlide()">❮</a>
						<a class="next" onclick="nextSlide()">❯</a>

						<!-- The dots/circles -->
						<div class="dots-container">
							<span class="dots" onclick="currentSlide(1)"></span>
							<span class="dots" onclick="currentSlide(2)"></span>
							<span class="dots active" onclick="currentSlide(3)"></span>
							<span class="dots" onclick="currentSlide(4)"></span>
							<span class="dots" onclick="currentSlide(5)"></span>
						</div>
					</div>

					<!-- ---------------------------- -->

				</div>
			</div>
		</div>
	</section>
	 

	{% include 'home/_footer.html.twig' %}
{% endblock %}
