{% extends 'base.html.twig' %}

{% block title %}Cookies Policy - Metier Quest
{% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class=" pb-2 me-lg-6 text-center mt-4">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Cookies Policy</h1>
						<p class="lead text-muted mb-0 pc-da">Please read this policy carefully before using this service.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-re">
		<div class="container mt-5">
			<h1 class="mb-4">Cookies Policy of Métier Quest LLC</h1>

			<h2 class="mt-4 mb-3">Introduction</h2>
			<p>At Métier Quest LLC, we believe in being transparent about how we collect and use data. This policy provides information about how and when we use cookies for these purposes. Capitalized terms used in this policy but not defined have the meaning set forth in our Privacy Policy, which also includes additional details about the collection and use of information at Métier Quest LLC.</p>

			<h2 class="mt-4 mb-3">What is a cookie?</h2>
			<p>Cookies are small text files sent by us to your computer or mobile device. They are unique to your account or your browser. Session-based cookies last only while your browser is open and are automatically deleted when you close your browser. Persistent cookies last until you or your browser delete them or until they expire.</p>

			<h2 class="mt-4 mb-3">Do we use cookies?</h2>
			<p>Yes. We use cookies and similar technologies like single-pixel gifs and web beacons. We use both session-based and persistent cookies. Métier Quest LLC sets and accesses our own cookies on the domains operated by Métier Quest LLC and its corporate affiliates. In addition, we use third-party cookies, like Google Analytics.</p>

			<h2 class="mt-4 mb-3">How do we use cookies?</h2>
			<p>Some cookies are associated with your account and personal information in order to remember that you are logged in and which jobs you are interested in. Other cookies are not tied to your account but are unique and allow us to carry out site analytics and customization, among other similar things.</p>

			<h2 class="mt-4 mb-3">How can you control cookies?</h2>
			<p>Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways. You can also delete all cookies that are already on your computer. If you turn off cookies, you won't have access to many features that make your experience more efficient and some of our services will not function properly.</p>

			<h2 class="mt-4 mb-3">Changes to this Cookie Policy</h2>
			<p>We may change this Cookie Policy at any time. Any changes in this Cookie Policy will become effective when we make the revised Cookie Policy available on or through the Site.</p>

			<h2 class="mt-4 mb-3">Questions</h2>
			<p>If you have any questions about our Cookie Policy, please contact us at
				<a href="mailto:support@metier-quest.com">support@metier-quest.com</a>.</p>

			<p class="mt-4">Last Updated: May 4, 2024</p>
		</div>

	</section>
	 

	{% include 'home/_footer.html.twig' %}
{% endblock %}
