{% extends 'base.html.twig' %}

{% block title %}FAQS - Metier Quest
{% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="mb-2 pb-3 me-lg-6 text-center">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Frequently
							<span class="text-primary fw-bold">Asked
																															                    Questions
							</span>
						</h1>
						<p class="lead text-muted mb-0 pc-da">Do you have questions? We have the answers! Explore our comprehensive FAQ for information. If you have further inquiries, feel free to send us a message. We strive to respond within 24 to 48 hours.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div
					class="text-lg-start">
					<!-- ---------------------------- -->

					<div class="accordion accordion-flush faq-box" id="general">
						<div class="accordion-item mt-1 border-0">
							<h2 class="accordion-header" id="generalOne">
								<button class="accordion-button fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-one" aria-expanded="true" aria-controls="general-one">
									Q. How is Métier Quest different from other job boards?
								</button>
								<hr>
							</h2>
							<div id="general-one" class="accordion-collapse collapse show" aria-labelledby="generalOne" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Métier Quest is a unique and innovative platform that aims to bridge the gap between the demand and supply of skilled professionals in UAE, East Africa, and Asia.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										It offers a flexible and convenient way for both job seekers and employers to find each other and work together on exciting projects and opportunities. Métier Quest allows job seekers to create profiles on the platform, showcasing their skills and experience to interested employers. Job seekers do not have to spend hours browsing through job listings; our system recommends suitable jobs for them. Additionally, for a small fee, we can notify job seekers when new jobs in their category of interest are posted. For employers, our job board system shortlists qualified candidates, reducing time-to-hire and leading to the best fit for the job.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generaltwo">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-two" aria-expanded="false" aria-controls="general-two">
									Q. Is Métier Quest a staffing/recruitment agency?
								</button>
								<hr>
							</h2>
							<div id="general-two" class="accordion-collapse collapse" aria-labelledby="generaltwo" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">No, Métier Quest isn’t an employment/staffing agency or headhunter.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										It does not provide any guarantees or contracts for employment. Rather, it facilitates communication and collaboration between job seekers and employers, allowing them to negotiate terms and conditions directly.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalthree">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-three" aria-expanded="false" aria-controls="general-three">
									Q. Does it cost to create a Métier Quest profile?
								</button>
								<hr>
							</h2>
							<div id="general-three" class="accordion-collapse collapse" aria-labelledby="generalthree" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">No, creating a profile on our platform is absolutely free.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										Applying to jobs on Métier Quest is also free.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalfour">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-four" aria-expanded="false" aria-controls="general-four">
									Q. Can I make my resume profile inactive, so it’s not visible to my current employer?
								</button>
								<hr>
							</h2>
							<div id="general-four" class="accordion-collapse collapse" aria-labelledby="generalfour" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Maintaining our customers' and clients' confidentiality is important and ethical for us.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										You have control over the privacy and information shared with Métier Quest staff. You can keep your information from being seen by anyone except specific employers you want to connect with. Once you create and complete a resume profile, you can set it to “Inactive” or “Active” to manage its visibility.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalfive">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-five" aria-expanded="false" aria-controls="general-five">
									Q. How do I apply for jobs on Métier Quest?
								</button>
								<hr>
							</h2>
							<div id="general-five" class="accordion-collapse collapse" aria-labelledby="generalfive" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Each employer decides how it wants you to apply for jobs through Métier Quest.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										They may allow you to apply through Métier Quest, require you to apply directly on their careers page, or request that you email your resume and cover letter. The company's email address will be provided in the job listing on Métier Quest if needed.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalsix">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-six" aria-expanded="false" aria-controls="general-six">
									Q. How can I pay for my subscription?
								</button>
								<hr>
							</h2>
							<div id="general-six" class="accordion-collapse collapse" aria-labelledby="generalsix" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">In the UAE and beyond, Stripe accepts various payment methods. In Somalia/Somaliland, mobile money options like Waafi/Edahab are available.</h6>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalseven">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-seven" aria-expanded="false" aria-controls="general-seven">
									Q. Does Métier Quest guarantee that I’ll get hired?
								</button>
								<hr>
							</h2>
							<div id="general-seven" class="accordion-collapse collapse" aria-labelledby="generalseven" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">While we cannot guarantee that you will get hired, we have helped many professionals find rewarding careers across various sectors and industries.</h6>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generaleight">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-eight" aria-expanded="false" aria-controls="general-eight">
									Q. Why isn’t salary information mentioned on the job posting?
								</button>
								<hr>
							</h2>
							<div id="general-eight" class="accordion-collapse collapse" aria-labelledby="generaleight" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">There are several reasons why employers might not disclose the salary on a job posting.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										- They want to attract a wider pool of candidates who are interested in the job itself, not just the pay.<br>
										- They want more flexibility and room for negotiation when making an offer.<br>
										- They want to avoid internal conflicts or complaints from existing employees.<br>
										- They want to keep their salary information confidential from competitors or the public.<br>
										You can politely and professionally ask the employer about the salary range during the application process or the interview.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalnine">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-nine" aria-expanded="false" aria-controls="general-nine">
									Q. Are the jobs on Métier Quest authentic and real?
								</button>
								<hr>
							</h2>
							<div id="general-nine" class="accordion-collapse collapse" aria-labelledby="generalnine" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Our staff works around the clock to screen job posts on our platform, but some may be misleading.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										Some jobs might be outdated, duplicated, or even fake. Watch out for red flags such as offers that seem too good to be true, employers asking for money upfront, requests for personal information, generic email addresses, lack of a website or social media presence, and no interview process. If you encounter any of these signs, do not respond to the job offer and report it to Métier Quest immediately.
									</p>
								</div>
							</div>
						</div>

						

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generaleleven">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-eleven" aria-expanded="false" aria-controls="general-eleven">
									Q. Is there a one-time download policy?
								</button>
								<hr>
							</h2>
							<div id="general-eleven" class="accordion-collapse collapse" aria-labelledby="generaleleven" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">You have unlimited access to download your resume once purchased.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										There is no restriction on the number of downloads. However, advanced features for customizing your resume may require additional costs.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generaltwelve">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-twelve" aria-expanded="false" aria-controls="general-twelve">
									Q. Will I get a refund if I’m not happy with my resume/cover letter?
								</button>
								<hr>
							</h2>
							<div id="general-twelve" class="accordion-collapse collapse" aria-labelledby="generaltwelve" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">We offer one free revision, but no refunds are available.</h6>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalthirteen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-thirteen" aria-expanded="false" aria-controls="general-thirteen">
									Q. Are online personality tests accurate?
								</button>
								<hr>
							</h2>
							<div id="general-thirteen" class="accordion-collapse collapse" aria-labelledby="generalthirteen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Online personality tests are designed based on psychological theories and can provide accurate insights.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										Most people find their reports to be a reasonable description of themselves.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalfourteen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-fourteen" aria-expanded="false" aria-controls="general-fourteen">
									Q. How long does an online personality test take?
								</button>
								<hr>
							</h2>
							<div id="general-fourteen" class="accordion-collapse collapse" aria-labelledby="generalfourteen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">The length of an online personality test can vary.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										Generally, tests take from 15 minutes to an hour. PeopleMaps takes only 5 minutes due to its clever questionnaire design.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalfifteen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-fifteen" aria-expanded="false" aria-controls="general-fifteen">
									Q. Can online personality tests be used for job selection?
								</button>
								<hr>
							</h2>
							<div id="general-fifteen" class="accordion-collapse collapse" aria-labelledby="generalfifteen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Online personality tests can be used as part of the job selection process.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										PeopleMaps has developed Interview Pro, a suite of products designed to help interviewers get to know candidates better.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalsixteen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-sixteen" aria-expanded="false" aria-controls="general-sixteen">
									Q. How does online personality testing work?
								</button>
								<hr>
							</h2>
							<div id="general-sixteen" class="accordion-collapse collapse" aria-labelledby="generalsixteen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Online personality testing involves a series of questions about behavior, preferences, and attitudes.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										The answers are analyzed to determine personality traits, and results are presented in a report. PeopleMaps identifies preferences instead of strengths and weaknesses, as these are circumstantial. Awareness of preferences can help individuals develop policies to cope with different situations.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalseventeen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-seventeen" aria-expanded="false" aria-controls="general-seventeen">
									Q. When does my billing cycle start/end?
								</button>
								<hr>
							</h2>
							<div id="general-seventeen" class="accordion-collapse collapse" aria-labelledby="generalseventeen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Your billing cycle starts on the first day of your subscription and ends 30 days later.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										You can view your bills online and contact customer service with any questions. Payment is due immediately via credit card, debit card, or mobile payment.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generaleighteen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-eighteen" aria-expanded="false" aria-controls="general-eighteen">
									Q. How can I search by multiple criteria?
								</button>
								<hr>
							</h2>
							<div id="general-eighteen" class="accordion-collapse collapse" aria-labelledby="generaleighteen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Use the advanced search to search by job type, location, areas of interest, schedules, and more.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										Select multiple criteria to find the best jobs matching your skill sets and desired flexibility.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generalnineteen">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-nineteen" aria-expanded="false" aria-controls="general-nineteen">
									Q. Why should I create a profile on Métier Quest if I already have a resume/CV?
								</button>
								<hr>
							</h2>
							<div id="general-nineteen" class="accordion-collapse collapse" aria-labelledby="generalnineteen" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Creating a profile on Métier Quest helps you find jobs and connect with recruiters.</h6>
									<p class="text-muted mb-2 fs-14 mt-2 fw-medium">
										Your profile enters our jobseeker database, accessible to employers searching for candidates fitting their criteria. If your profile meets their criteria, employers may contact you directly.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item mt-2 border-0">
							<h2 class="accordion-header" id="generaltwenty">
								<button class="accordion-button collapsed fs-16 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#general-twenty" aria-expanded="false" aria-controls="general-twenty">
									Q. How long does a job remain live on the site of Métier Quest?
								</button>
								<hr>
							</h2>
							<div id="general-twenty" class="accordion-collapse collapse" aria-labelledby="generaltwenty" data-bs-parent="#general">
								<div class="accordion-body text-muted">
									<h6 class="fs-17 mt-1">Jobs remain active for one month from the posting date.</h6>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="row py-4">
				<div class="col-12  text-center">
					<h5>Still have questions?</h5>
				</div>
				{% if form_message == 'success' %}
					<div class="alert alert-success" role="alert">Thank you for connecting with us</div>
				{% else %}
					<div class="alert alert-danger" role="alert">
						{{ form_message == 'error' ? 'Sorry, Something went wrong. Please try again' : form_message }}</div>
				{% endif %}
				<div class="col-12" id="form_wrapper">
					{% include 'home/contact_form.html.twig' with { form: form, site_key: site_key } %}
					{# <div data-controller="contact-form" data-contact-form-url-value="{{ path('app_contact_form') }}">
											<div class="alert_message"></div>
											<div class="form_container"></div>
										</div> #}
				</div>
			</div>

		</div>
	</section>


	 
	{% include 'home/_footer.html.twig' %}
{% endblock %}
