{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - Metier Quest {% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class=" pb-2 me-lg-6 text-center mt-4">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Privacy Policy</h1>
						<p class="lead text-muted mb-0 pc-da">At Metier Quest we are committed to protecting your privacy. Please review this Privacy Policy carefully before using this service.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-re">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div>
						<h1 class="mb-4">Métier Quest LLC Privacy Policy Statement</h1>

						<h2 class="mb-3">Preamble</h2>
						<p>Métier Quest LLC, a platform for professional career progression (also referred to as “Métier Quest”, “we”, “our”, or “us”), manages the websites
							<a class="text-primary" href="http://www.metier-quest.com" target="_blank">www.metier-quest.com</a>
							and
							<a class="text-primary" href="http://www.metier-quest.net" target="_blank">www.metier-quest.net</a>. Our registration is in the United Arab Emirates, Dubai, with our official office located at The Meydan Grandstand, 6th Floor, Meydan Rd.</p>

						<h2 class="mb-3">Categories of Collected Personal Data</h2>
						<p>We accumulate a range of personal data, contingent on the Métier Quest website or service you utilize, encompassing but not restricted to:</p>
						<ul>
							<li>Data from Analytics &amp; Automatic Collection</li>
							<li>Information on Browsing</li>
							<li>Commercial Data</li>
							<li>Information for Contact</li>
							<li>Education &amp; Skill Details</li>
							<li>Information on Employment</li>
							<li>Financial Data</li>
							<li>Geolocation Data</li>
							<li>Government Identifiers</li>
							<li>Information on Habits &amp; Personality</li>
							<li>Personal Identification Data</li>
							<li>Details on Professional Experience &amp; Affiliations</li>
							<li>Profiles, Inferences, &amp; Generated Data</li>
							<li>Information from Sensory &amp; Electronic Sources</li>
							<li>Data from Social Media</li>
							<li>Information on User Account</li>
						</ul>

						<h2 class="mb-3">Engagement with Job Agencies, Recruiters or Companies</h2>
						<p>We offer a platform that enables recruiters, employers, our clients, and third parties to view job seekers’ Métier Quest resumes and Job Seeker Profiles. When job seekers engage with a recruiter or employer through the Métier Quest websites, apps, or services, their personal data may be incorporated into that company’s database. Please note, the handling of your personal data by the recruiters or employers with whom you interact (and others who acquire your information through them) will be governed by the privacy policy of that company, and we are not accountable for that company’s use of your information.</p>

						<h2 class="mb-3">Linking Your Career Profile to Your Social Media Account</h2>
						<p>Some of our features allow you to link to a social media account or disseminate information on social media platforms, such as LinkedIn and Facebook. Any information you willingly share on social media may be visible to an international audience. Information shared to social media will be subject to the privacy policies of the social media provider, not this Privacy Policy.</p>

						<h2 class="mb-3">Duration of Personal Data Retention</h2>
						<p>We will hold onto your personal data for as long as it is required for the objectives outlined in this Privacy Statement, for as long as your Career Advancement Profile with us is active, until you ask us to erase it, as required to deliver our goods and services to you, or until we no longer have a legal duty to retain it. However, you can exercise your right to erase personal data at any time by following the rights request procedure. Please be aware that residual copies of the personal data may be kept for the purpose of maintaining secure data backups. We do not have the capability to erase copies of resumes, messages, or other personal data that have been downloaded or copied onto the systems of employers and recruiters. The most effective way to control your information is to only provide Métier Quest, recruiters, and employers with the personal data that you are entirely comfortable sharing with us.</p>
						<p>In the event you erase your Career Advancement Profile with us, we will retain your personal data when it is necessary to comply with our legal obligations (including retaining the information for accounting purposes), resolve disputes (for instance, if the data is related to a reporting obligation), enforce our agreements, or as otherwise described in this Policy Statement.</p>

						<h2 class="mb-3">User’s Rights</h2>
						<p>As a user, you possess various rights concerning your personal data. You have the right to access, correct, and delete your personal data. You also have the right to object to or limit our processing of your personal data.</p>

						<h2 class="mb-3">Sharing of Personal Data</h2>
						<p>We disclose your personal data to the following categories of service providers and other parties:</p>
						<ul>
							<li>Payment processors</li>
							<li>Ad networks</li>
							<li>Security and fraud prevention consultants</li>
							<li>Hosting and other technology and communications providers</li>
							<li>Analytics providers</li>
							<li>Email providers</li>
							<li>Customer Service software providers</li>
						</ul>

						<h2 class="mb-3">Storage of Personal Data</h2>
						<p>We take your personal data’s security seriously. We employ various security measures to protect your personal data from unauthorized access, use, or disclosure. These measures include physical security, technological security measures, and administrative safeguards.</p>

						<h2 class="mb-3">Maintaining the Accuracy of Your Personal Data</h2>
						<p>If your personal details change, you may update them by accessing the relevant page of the Website, or by contacting us at
							<a class="text-primary" href="mailto:support@metier-quest.com">support@metier-quest.com</a>. We will strive to update your personal data within thirty (30) days of any new or updated personal data being provided to us, to ensure that the personal data we hold about you is as accurate and current as possible.</p>
						<h2 class="mb-3">Preservation of Personal Data</h2>
						<p>We will retain your personal data for as long as we have an obligation to you to provide the services, as long as we have an obligation to the customer to provide the services, or as long as necessary to fulfill the purpose for which it was initially collected. Thereafter, we will delete your personal data in accordance with our customer terms and conditions. We will also retain and use your personal data to the extent necessary to comply with any legal, accounting, or reporting obligations.</p>

						<h2 class="mb-3">Data Security Measures</h2>
						<p>Métier Quest LLC employs a variety of security measures designed to protect your personal data from unauthorized access, alteration, or destruction. These measures include, but are not limited to, encryption technologies, secure servers, firewalls, and regular system audits. We are committed to maintaining the highest level of security for our users’ personal data.</p>

						<h2 class="mb-3">Data Collection from Underage Individuals</h2>
						<p>We consciously avoid gathering or requesting personal data from individuals under the age of 18. No one will have the right to register on our platform if legally is an underage individual, therefore do not attempt to sign up for or use our services. If we discover that we have collected personal data from a minor, we will promptly erase that information. If you suspect that a minor may have shared personal data with us, please reach out to us at
							<a class="text-primary" href="mailto:support@metier-quest.com">support@metier-quest.com</a>.</p>

						<h2 class="mb-3">Right of Access</h2>
						<p>You possess the right to ask for specific details about our gathering and utilization of your personal data over the previous 12 months. We will furnish you with the following details:</p>
						<ul>
							<li>The types of personal data that we have gathered about you</li>
							<li>The types of sources from which that personal data was gathered</li>
							<li>The business or commercial reason for gathering your personal data</li>
							<li>The types of third parties with whom we have shared your personal data</li>
							<li>The particular pieces of personal data that we have gathered about you</li>
						</ul>
						<p>If we have shared your personal data for a business reason over the previous 12 months, we will identify the types of personal data shared with each type of third-party recipient.</p>

						<h2 class="mb-3">Right to Delete</h2>
						<p>You have the right to request that we delete the personal data that we have collected from you, under the DIFC and CCPA.</p>

						<h2 class="mb-3">Right to Opt out of Selling Your Personal Information</h2>
						<p>Métier Quest does not sell your personal information.</p>

						<h2 class="mb-3">Opt-out Right for Automated Profiling</h2>
						<p>Métier Quest does not engage in automated policymaking or profiling.</p>

						<h2 class="mb-3">Procedure for Exercising Your Rights</h2>
						<p>To put into action the rights outlined above, you must forward us a request that offers enough details to enable us to confirm that you are the individual from whom we have gathered Personal Data, and outlines your request in enough detail to enable us to comprehend, assess, and respond to it. Each request that fulfills both of these criteria will be regarded as a Legitimate Request. We may not respond to requests that fail to meet these criteria. We will only utilize Personal Data provided in a Legitimate Request to confirm your identity and fulfill your request. You do not require an account to submit a Legitimate Request.</p>
						<p>We will work to respond to your request within 30-60 days of receipt.</p>

						<h2 class="mb-3">International Data Transfers</h2>
						<p>In the event that personal data is transferred across national borders, Métier Quest LLC ensures that all necessary safeguards are in place to maintain the same level of data protection as in the country of origin. This includes adherence to international data protection laws and regulations, such as the General Data Protection Regulation (GDPR).</p>

						<h2 class="mb-3">Third-Party Service Providers</h2>
						<p>Métier Quest LLC works with third-party service providers to offer a comprehensive career progression platform. These providers are contractually obligated to handle personal data in accordance with privacy laws and our own stringent data protection standards. Their roles and responsibilities in handling personal data are clearly defined in our agreements with them.</p>

						<h2 class="mb-3">User Consent</h2>
						<p>Métier Quest LLC obtains user consent for collecting, using, and sharing personal data at the point of data collection. Users have the right to withdraw their consent at any time. This can be done through the user account settings or by contacting our support team.</p>

						<h2 class="mb-3">Policy Updates</h2>
						<p>Métier Quest LLC will notify users of any updates to the privacy policy via email or notifications on our platform. The effective date of new versions will be clearly stated in the updated policy.</p>

						<h2 class="mb-3">Contact Information</h2>
						<p>For any questions or concerns about your personal data, please contact our Data Protection office at
							<a class="text-primary" href="mailto:dpo@metier-quest.com">dpo@metier-quest.com</a>
							or write to us at The Meydan Grandstand, 6th Floor, Meydan Rd, Dubai, United Arab Emirates.</p>
					</div>
				</div>

			</div>
		</div>
	</section>


	 

	{% include 'home/_footer.html.twig' %}
{% endblock %}
