{% extends 'base.html.twig' %}

{% block title %}Psychometric
{% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="mb-2 pb-3 me-lg-6 text-center mt-4">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Psychometric
							<span class="text-primary fw-bold">Evaluation
							</span>
						</h1>
						<p class="lead text-muted mb-0 pc-da">Fastest personality questionnaire. The most cost-effective personality test available. Over a million happy users.</p>

					</div>
				</div>
				<div class="row text-center">
					<div class="mt-2 pt-0">
						<a href="#bg-purple" class="btn btn-primary btn-hover">Let’s take the evaluation</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-re">
		<div class="container">
			<div
				class="row justify-content-center">

				<!-- ------------------------------------- -->
				<div class="row">
					<div class="mb-3">
						<img class="img-fluid rounded-3" src="{{ asset('assets/images/psychometic_img.jpg')}}" alt="">
					</div>
					<h6 class="mb-0 mt-4 text-center text-grey fw-semibold">CARL JUNG PERSONALITY TEST</h6>
					<h3 class="mb-0 mt-4 text-center">The Personality Test That Everyone Can Use</h3>
					<div class="text-center"><img class="img-fluid" src="assets/images/line.png" width="238" height="7"></div>
					<p class="mb-3 text-center no-text mt-3">You can use People Maps Psychometric Assessments to decide which career path to follow based on your personality,&nbsp; for Hiring, Leading and Developing your team and discover what your ideal candidate will look like by creating a success profile that is not based on skills, experience or education but based on personality and finding out if they will be the right fit for your company culture.</p>
				</div>

				<!-- ------------------------------------- -->
			</div>
		</div>
	</section>

	{# <section class="section">
			<div class="container">
				<div
					class="row justify-content-center">
					<!-- ------------------------------------- -->
	
					<div class="row ">
						<h3 class="mb-0 mt-2 text-center text-purp">Career Suite</h3>
						<div class="text-center mb-3"><img src="assets/images/line.png" width="150" height="7"></div>
						<div class="col-lg-4 mt-4">
							<div class="alert  bg-warning-subtle text-warning" role="alert">
								<div class="text-md-start img-fluid mt-3"><img src="assets/images/book.png"></div>
								<div class="text-md-start">
									<h3 class="mb-1 mt-3  fs-14">Work Environment</h3>
									<p class="mb-5 no-text mt-2 text-black">This report will help you discover the work environment that suits you best. You will learn about your career personality and how it matches with different types of jobs.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mt-4">
							<div class="alert bg-primary-subtle text-primary" role="alert">
								<div class="text-md-start img-fluid mt-3"><img src="assets/images/book.png"></div>
								<div class="text-md-start">
									<h3 class="mb-1 mt-3 text-green fs-14">Your Boss &amp; Communication</h3>
									<p class="mb-5 no-text mt-2 text-black">This personality report can help you find out what kind of boss you can work with best and what kind of boss might be challenging to work under. It also reveals how you like to communicate with others.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mt-4">
							<div class="alert bg-success-subtle text-success " role="alert">
								<div class="text-md-start img-fluid mt-3"><img src="assets/images/book.png"></div>
								<div class="text-md-start">
									<h3 class="mb-1 mt-3 text-green fs-14">You as a Manager</h3>
									<p class="mb-5 no-text mt-2 text-black">If you are interested in getting hired as a manager, this report will show you your strengths as a leader.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 mt-4"></div>
							<div class="col-lg-4 mt-4">
								<div class="alert  bg-danger-subtle text-danger" role="alert">
									<div class="text-md-start img-fluid mt-3"><img src="assets/images/book.png"></div>
									<div class="text-md-start">
										<h3 class="mb-1 mt-3 text-green fs-14">Stress &amp; Motivation</h3>
										<p class="mb-5 no-text mt-2 text-black">One of the biggest factors that affect people's job satisfaction or dissatisfaction is work related stress. To succeed in your career, you need to know how to cope with stress and what motivates you to do your best.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 mt-4">
								<div class="alert  bg-info-subtle text-info" role="alert">
									<div class="text-md-start img-fluid mt-3"><img src="assets/images/book.png"></div>
									<div class="text-md-start">
										<h3 class="mb-1 mt-3 text-green fs-14">The Company</h3>
										<p class="mb-5 no-text mt-2 text-black">This personality report can help you learn what kinds of company are compatible with you and what kinds you need to get ready for. For example, if you are an introvert, you might prefer a company that values quiet work and individual projects.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-2 mt-4"></div>
						</div>
					</div>
	
					<!-- ------------------------------------- -->
	
				</div>
			</div>
		</section> #}

	<!--starrt-->

	<section class="section bg-purple" id="bg-purple">
		<div class="container">
			<div class="row justify-content-center">
				<div class="text-center text-white">
					<h3 class="mb-0 mt-4">Free to get started. Up and running in ten minutes.<br>
						No training required.</h3>
					<div class="text-center mb-2"><img class="img-fluid" src="assets/images/line.png" width="150" height="7"></div>

					<!-- ---------------------------- -->
					<div class="row">

						<div class="col-lg-4 mt-4">
							<h3 class="mb-4 mt-4 fs-20">ENGLISH</h3>
							<div
								class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20234&sid=1279"></script>
							</div>
						</div>
						<div class="col-lg-4 mt-4">
							<h3 class="mb-4 mt-4 fs-20">FRENCH</h3>
							<div
								class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20234&sid=1280"></script>
							</div>
						</div>
						<div class="col-lg-4 mt-4">
							<h3 class="mb-4 mt-4 fs-20">ARABIC</h3>
							<div
								class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20234&sid=1282"></script>
							</div>
						</div>
						<div class="col-lg-4 mt-4">
							
						</div>
						<div class="col-lg-4 mt-4">
							<h3 class="mb-4 mt-4 fs-20">SOMALI</h3>
							{# <div class="text-center"><img class="img-fluid" src="assets/images/la-soma.png"></div> #}
							<div
								class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20234&sid=1281"></script>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 mt-4"></div>

						<div class="col-lg-4 mt-4"></div>
					</div>
					<!-- ---------------------------- -->

				</div>
			</div>
		</div>
	</section>
	<section class="pa-min-les">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12">

					<!-- -------------------------- -->
					<div class="alert  bg-info-subtle text-info" role="alert">
						<div class="text-center">
							<img class="gifsize" src="assets/images/gifqu.gif" alt="">
						</div>
						<div class="section-title text-center mb-5 mt-3 pb-2">
							<h3 class="title mb-2 fo-co">Ask
								<span class="text-primary fw-bold">
									your question?</span>
							</h3>
							<p class="text-re mb-1 fw-medium fs-14 ">Get answers from the company and Metier Quest community.</p>
							<a href="{{ path('app_home_contacts')}}" class="btn btn-primary waves-effect waves-light mt-4">Post Question &nbsp;
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
							</a>
							<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header text-black">
											<h5 class="modal-title mt-0" id="myModalLabel">Ask a question</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="col-lg-12">
												<div class="mb-3">
													<textarea class="form-control" id="meassageInput" placeholder="Type your question" name="comments" rows="3"></textarea>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<a href="#" class="btn btn-outline-primary" style="border-radius: 50px;" data-bs-dismiss="modal">Cancel</a>
											<button type="button" class="btn btn-primary waves-effect waves-light">Sumbit Question</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- SIMPLE MODALS -->

						</div>
					</div>
					<!-- -------------------------- -->

				</div>
			</div>
		</div>
	</section>

	<!-- company-LISTEnd -->


	{% include 'home/_footer.html.twig' %}
{% endblock %}
