{% extends 'base.html.twig' %}

{% block title %}Refund Policy - Metier Quest
{% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class=" pb-2 me-lg-6 text-center mt-4">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Refund Policy</h1>
						<p class="lead text-muted mb-0 pc-da">Please read this policy carefully before using this service.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-re">
		<div class="container">
			<h1 class="mb-4">Métier Quest Refund Policy</h1>

			<h2 class="mb-3">No Refunds</h2>
			<p>At Métier Quest, we stand behind the quality and value of our products and services. After careful review and consideration, we have implemented a No Refund Policy.</p>

			<h2 class="mb-3">Services and Products</h2>
			<p>Once a service has been rendered or a product (CVS, templates, cover letter, psychometric assessments test etc) has been purchased, we do not offer refunds and you will not receive any refund or credit for any unused portion of the paid Services. We encourage our customers to carefully review their orders before finalizing the purchase.</p>

			<h2 class="mb-3">Foreign Card Transactions</h2>
			<p>Please note that for payments made with foreign cards, there may be additional charges based on your bank’s policy. We recommend contacting your bank for more information on any potential additional charges.</p>

			<h2 class="mb-3">Stripe Payment Gateway</h2>
			<p>We use Stripe as our payment gateway. Stripe is a technology platform that acts as an intermediary in electronic financial transactions. It enables us to accept, process, and manage various payment methods—such as credit cards, debit cards, and digital wallets—in a secure and efficient manner. Please note that Stripe’s payment gateway fees may apply in some cases. For more information about Stripe’s policies and fees, please visit their
				<a href="https://stripe.com" target="_blank">official website</a>.</p>

			<h2 class="mb-3">Exceptions</h2>
			<p>There may be exceptional circumstances where a refund may be considered. These will be handled on a case-by-case basis and are at the sole discretion of Metier Quest.</p>

			<h2 class="mb-3">Questions</h2>
			<p>If you have any questions or concerns about this policy, please contact our customer service team at
				<a href="mailto:support@metier-quest.com">support@metier-quest.com</a>. We are committed to providing the best possible service and will strive to resolve any issues that may arise.</p>
		</div>
	</section>
	 

	{% include 'home/_footer.html.twig' %}
{% endblock %}
