{% extends 'base.html.twig' %}

{% block title %}Resume
{% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="mb-2 pb-3 me-lg-6 text-center">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Top
							<span class="text-primary fw-bold">resume templates build for you.</span>
						</h1>
						<p class="lead text-muted mb-0 pc-da">Resumes to help you get hired, faster: Our resume templates will be based on industry standards.
							<br>
							Showcase your skills &amp; achievements with a professionally written resume</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-re ">
		<div class="container">
			<div class="row justify-content-center">
				<div
					class="text-lg-start">
					<!-- ---------------------------- -->

					<div class="alert  bg-primary-subtle text-primary" role="alert">
						<div class="row">
							<div class="col-lg-2">
								<img class="img-fluid teimg" src="assets/images/hired.png" alt="">
							</div>
							<div class="col-lg-7">
								<h5 class="fs-18 mb-3 mt-4 ptla">Accelerate your job offers with our resume template</h5>
								<p class="lead text-muted mb-0 pc-da">Our Resume-Library is a true performance-based job board. Enjoy custom hiring products and access thousands of new resume registrations.</p>
								<h5 class="fs-14 mb-3 mt-2"><img class="img-fluid teimg" src="assets/images/rating.png" alt="">
									&nbsp;500+ Purchases</h5>
							</div>
							<div class="col-lg-3 mt-5 text-center" style="margin-top: 5% !important;">
								<a href="#" class="btn btn-primary btn-hover">LEARN MORE
									<i class="fa fa-arrow-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

					<!-- ---------------------------- -->

				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section-title text-center mb-3">
						<h3 class="title m-2">Browse
							<span class="text-primary fw-bold">
								by Departments</span>
						</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<span class="badge bg-secondary m-2">
						Accounting</span>
					<span class="badge bg-secondary m-2">JS</span>
					<span class="badge bg-secondary m-2">
						Marketing</span>
					<span class="badge bg-secondary m-2">React</span>
					<span class="badge bg-secondary m-2">Photoshoop</span>
					<span class="badge bg-secondary m-2">Ilustrator</span>
					<span class="badge bg-secondary m-2">Maya</span>
					<span class="badge bg-secondary m-2">Adobe xd</span>
					<span class="badge bg-secondary m-2">Paint</span>
					<span class="badge bg-secondary m-2">Creative Suite</span>
					<span class="badge bg-secondary m-2">Photoshop</span>
					<span class="badge bg-secondary m-2">+20</span>
				</div>
			</div>
			<hr>
		</div>
	</section>
	<section class="pa-les">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h3 class="title mb-2">Top
							<span class="text-primary fw-bold">
								Hiring Companies</span>
						</h3>
						<p class="text-muted mb-5 fs-13">Find the right career opportunity for you.</p>
					</div>
				</div>
				<!-- -------------------------- -->
				<div class="col-lg-12 col-md-7">
					<div class="blog-post">
						<div class="row">
							<div class="col-lg-4 mb-4">
								<div class="card blog-grid-box p-2">
									<a href="resume-details.html">
										<img class="img-fluid" src="assets/images/re1.png" alt=""></a>
									<div class="card-body">
										<a href="resume-details.html" class="primary-link">
											<h6 class="fs-17">Software Engineer Resume Template</h6>
										</a>
										<ul class="list-inline d-flex justify-content-between mb-3">
											<li class="list-inline-item">
												<p class="text-muted mb-0">
													<a href="resume-details.html" class="text-muted fw-medium">
														<i class="fa fa-briefcase" aria-hidden="true"></i>
														&nbsp; Entry Level</a>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 mb-4">
								<div class="card blog-grid-box p-2">
									<a href="resume-details.html">
										<img class="img-fluid" src="assets/images/re2.png" alt=""></a>
									<div class="card-body">
										<a href="resume-details.html" class="primary-link">
											<h6 class="fs-17">Data Scientist Resume
											</h6>
										</a>
										<ul class="list-inline d-flex justify-content-between mb-3">
											<li class="list-inline-item">
												<p class="text-muted mb-0">
													<a href="resume-details.html" class="text-muted fw-medium">
														<i class="fa fa-briefcase" aria-hidden="true"></i>
														&nbsp; Entry Level</a>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 mb-4">
								<div class="card blog-grid-box p-2">
									<a href="resume-details.html">
										<img class="img-fluid" src="assets/images/re3.png" alt=""></a>
									<div class="card-body">
										<a href="resume-details.html" class="primary-link">
											<h6 class="fs-17">Engineer Resume Template</h6>
										</a>
										<ul class="list-inline d-flex justify-content-between mb-3">
											<li class="list-inline-item">
												<p class="text-muted mb-0">
													<a href="resume-details.html" class="text-muted fw-medium">
														<i class="fa fa-briefcase" aria-hidden="true"></i>
														&nbsp; Entry Level</a>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 mb-4">
								<div class="card blog-grid-box p-2">
									<a href="resume-details.html">
										<img class="img-fluid" src="assets/images/re4.png" alt=""></a>
									<div class="card-body">
										<a href="resume-details.html" class="primary-link">
											<h6 class="fs-17">Designer Resume Template</h6>
										</a>
										<ul class="list-inline d-flex justify-content-between mb-3">
											<li class="list-inline-item">
												<p class="text-muted mb-0">
													<a href="resume-details.html" class="text-muted fw-medium">
														<i class="fa fa-briefcase" aria-hidden="true"></i>
														&nbsp; Entry Level</a>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 mb-4">
								<div class="card blog-grid-box p-2">
									<a href="resume-details.html">
										<img class="img-fluid" src="assets/images/re5.png" alt=""></a>
									<div class="card-body">
										<a href="resume-details.html" class="primary-link">
											<h6 class="fs-17">Architect Resume Template</h6>
										</a>
										<ul class="list-inline d-flex justify-content-between mb-3">
											<li class="list-inline-item">
												<p class="text-muted mb-0">
													<a href="resume-details.html" class="text-muted fw-medium">
														<i class="fa fa-briefcase" aria-hidden="true"></i>
														&nbsp; Entry Level</a>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 mb-4">
								<div class="card blog-grid-box p-2">
									<a href="resume-details.html">
										<img class="img-fluid" src="assets/images/re6.png" alt=""></a>
									<div class="card-body">
										<a href="resume-details.html" class="primary-link">
											<h6 class="fs-17">Teacher Template</h6>
										</a>
										<ul class="list-inline d-flex justify-content-between mb-3">
											<li class="list-inline-item">
												<p class="text-muted mb-0">
													<a href="resume-details.html" class="text-muted fw-medium">
														<i class="fa fa-briefcase" aria-hidden="true"></i>
														&nbsp; Entry Level</a>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center mt-5">
					<button type="button" class="btn btn-outline-primary">Load More Resumes</button>
				</div>

				<!-- -------------------------- -->
			</div>
		</div>
	</section>


	<section class="pa-min-les">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12">

					<!-- -------------------------- -->
					<div class="alert  bg-primary-subtle text-primary" role="alert">
						<div class="text-center">
							<img class="gifsize" src="assets/images/gifqu.gif" alt="">
						</div>
						<div class="section-title text-center mb-5 mt-3 pb-2">
							<h3 class="title mb-2 fo-co">Top
								<span class="text-primary fw-bold">
									Hiring Companies</span>
							</h3>
							<p class="text-re mb-1 fw-medium fs-14 ">Unlocking Success: Expertly Crafted Interview Questions and Informed Answers to<br>
								Land Your Dream Job</p>
							<div class="top-login logintwo lowi mt-4 text-center">
								<a href="inqu.html">LEARN MORE &nbsp;
									<i class="fa fa-arrow-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- -------------------------- -->

				</div>
			</div>
		</div>
	</section>
	 


	{% include 'home/_footer.html.twig' %}
{% endblock %}
