{% extends 'base.html.twig' %}

{% block title %}Service Agreement - Metier Quest
{% endblock %}

{% block body %}
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class=" pb-2 me-lg-6 text-center mt-4">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Service Agreement</h1>
						<p class="lead text-muted mb-0 pc-da">Please read this agreement carefully before using this service.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-re">
		<div class="container my-5">
			<h1 class="mb-4">Métier Quest Job Board Web Application Terms of Service Agreement</h1>

			<p>Welcome to Métier Quest, a job board website that connects job candidates and companies in UAE, South Asia, and Africa. Please read these Terms of Service ("Terms") carefully before using our website, services, or products (collectively, the "Services"). These Terms apply to all users of the Services, whether they are job candidates, companies, or visitors. By accessing or using the Services, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use our Services.</p>

			<h2 class="mt-4 mb-3">User Data Privacy Policy</h2>

			<p>We respect your privacy and are committed to protecting your personal data. This User Data Privacy Policy ("Policy") explains how we collect, use, share, and protect your personal data when you use our Services. This Policy also informs you of your rights and choices regarding your personal data.</p>

			<p>Personal data means any information that can be used to identify you, such as your name, email address, phone number, resume, or profile picture. We collect personal data from you when you register for an account, create a profile, apply for a job, post a job, subscribe to our newsletter, contact us, or otherwise use our Services. We also collect personal data from third parties, such as social media platforms, analytics providers, or payment processors, when you link your account with them or use their services through our Services.</p>

			<p>We use your personal data for various purposes, such as to provide and improve our Services, to communicate with you, to personalize your experience, to send you marketing and promotional messages, to process your payments, to prevent fraud and abuse, to comply with legal obligations, and to protect our rights and interests.</p>

			<p>We share your personal data with third parties only when necessary to provide our Services, such as with job candidates, companies, payment service providers, partners, or authorities. We do not sell, rent, or trade your personal data with anyone for any purpose. We take appropriate measures to protect your personal data from unauthorized access, use, disclosure, alteration, or destruction. We retain your personal data for as long as necessary to fulfill the purposes for which we collected it, unless required or permitted by law to keep it longer.</p>

			<p>You have certain rights and choices regarding your personal data, such as to access, update, delete, or restrict it, to opt out of marketing communications, to withdraw your consent, or to lodge a complaint. You can exercise your rights and choices by contacting us at
				<a class="text-primary" href="mailto:privacy@metier-quest.com">privacy@metier-quest.com</a>
				or by using the settings and tools available on our Services. Some of these rights and choices may be subject to limitations or exceptions under applicable law.</p>

			<p>We may update this Policy from time to time to reflect changes in our practices, technologies, or legal requirements. We will notify you of any material changes by posting the updated Policy on our Services or by sending you an email. Your continued use of our Services after the updated Policy becomes effective constitutes your acceptance of the changes.</p>

			<h2 class="mt-4 mb-3">Registered User's Terms of Service</h2>

			<p>If you register for an account on our Services, you agree to the following additional terms:</p>

			<ul>
				<li>You are at least 18 years old and have the legal capacity and authority to enter into these Terms.</li>
				<li>You will provide accurate, complete, and current information when registering for an account and updating your profile. You will not use false or misleading information or impersonate anyone else.</li>
				<li>You will keep your account credentials confidential and not share them with anyone else. You will notify us immediately if you suspect any unauthorized access or use of your account.</li>
				<li>You will use your account only for lawful and legitimate purposes and in accordance with these Terms and our policies. You will not use your account to violate any rights of others or to engage in any unlawful, fraudulent, abusive, or harmful activities.</li>
				<li>You will not use any automated means, such as bots, scripts, or scrapers, to access or use our Services, or to collect, copy, or distribute any content or data from our Services, without our prior written permission.</li>
				<li>You will not interfere with or disrupt the operation or security of our Services, or attempt to gain unauthorized access to any system, network, or data related to our Services.</li>
				<li>You will not upload, post, transmit, or distribute any content or data that is unlawful, infringing, defamatory, obscene, harassing, threatening, abusive, hateful, or otherwise objectionable.</li>
				<li>You will not violate or infringe any intellectual property rights, privacy rights, or other rights of us or any third party.</li>
				<li>You will not use our Services to send unsolicited or unauthorized advertising, promotional materials, spam, or any other form of solicitation, including but not limited to topics related to alcohol, drugs, or any unlawful substances.</li>
				<li>You will not use our Services to transmit or introduce any viruses, worms, trojans, or other malicious or harmful code or software.</li>
				<li>You will not use our Services in any manner that may expose us or any third party to any liability, damages, or harm.</li>
			</ul>

			<p>We reserve the right to suspend, terminate, or delete your account at any time, without notice or liability, if we determine, in our sole discretion, that you have violated these Terms or our policies, or that your account is inactive, fraudulent, or abusive. You may also cancel/delete your account at any time by contacting us at
				<a class="text-primary" href="mailto:support@metier-quest.com">support@metier-quest.com</a>. Upon cancellation, termination, or deletion of your account, you will lose access to your account and any content or data associated with it. We may also retain, delete, or dispose of your content or data in accordance with our policies and applicable law.</p>
			<h2 class="mt-4">Paid Subscription Terms of Service</h2>
			<p>If you subscribe to any of our paid Services, resume and cover letter templates, job postings, or resume access, you agree to the following additional terms:</p>
			<ul>
				<li>You will pay the applicable fees for the paid Services you select, as displayed on our Services or as agreed with us in writing. All fees are non-refundable, unless otherwise stated or required by law.</li>
				<li>You will provide us with a valid and current payment method, such as a credit card, debit card, e-wallet, and authorize us to charge your payment method for the fees and any applicable taxes. You are responsible for updating your payment method and keeping it current.</li>
				<li>You will comply with any terms and conditions of the payment processor or e-wallet provider that you use to pay for the paid Services. We are not responsible for any fees, charges, or errors caused by the payment processor or e-wallet provider.</li>
				<li>You will notify us promptly of any billing errors or disputes, and cooperate with us to resolve them. If you fail to pay the fees or dispute the charges without a valid reason, we may suspend or terminate your access to the paid Services, or take any other legal action as we deem appropriate.</li>
				<li>You may cancel your subscription to the paid Services at any time by contacting us at
					<a class="text-primary" href="mailto:support@metier-quest.com">support@metier-quest.com</a>
					or by using the settings and tools available on our Services. Your cancellation will take effect at the end of the current billing cycle, and you will not receive any refund or credit for any unused portion of the paid Services. You will still be able to access and use the free Services, subject to these Terms and our policies.</li>
			</ul>
			<p>We may change the fees, features, or availability of the paid Services at any time, with or without notice. We will notify you of any material changes by posting the updated fees or features on our Services or by sending you an email. Your continued use of the paid Services after the changes become effective constitutes your acceptance of the changes. For credit card users, if you do not agree to the changes, you may cancel your subscription to the paid Services. For e-wallet users, you can choose not to renew the subscriptions.</p>

			<h3 class="mt-4">Credit/Debit Card Payment Terms of Service</h3>
			<p>If you use a credit card to pay for the paid Services, you agree to the following additional terms:</p>
			<ul>
				<li>You will provide us with valid and current credit card information. You authorize us to charge your credit card for the fees and any applicable taxes for the paid Services you select.</li>
				<li>You will ensure that your credit card account is active, secure, and has sufficient funds. You will comply with the terms and conditions of the credit card issuer.</li>
				<li>You will also authorize us to credit your credit card account for any refunds or credits that you may be entitled to due to legitimate errors or if you want to change or upgrade subscription plans under these Terms or our policies. Please report to us these errors or changes immediately by contacting us at
					<a class="text-primary" href="mailto:support@metier-quest.com">support@metier-quest.com</a>.</li>
				<li>You will verify and confirm every transaction that you make using your credit card and notify us and the credit card issuer immediately of any errors, disputes, or unauthorized transactions.</li>
				<li>You will not use your credit card for any unlawful, fraudulent, or prohibited activities, or to violate any rights of us or any third party.</li>
				<li>You will not hold us liable for any fees, charges, losses, damages, or claims arising from or relating to your use of your credit card or the credit card issuer’s services. You will indemnify and hold us harmless from any such fees, charges, losses, damages, or claims.</li>
				<li>We are not affiliated with, endorsed by, or responsible for any credit card issuer or their services. We do not guarantee the availability, security, or functionality of any credit card issuer or their services. We are not liable for any errors, delays, failures, or disruptions caused by any credit card issuer or their services. We may suspend, terminate, or limit your access to or use of any credit card issuer or their services at any time, without notice or liability, if we determine, in our sole discretion, that such access or use is in violation of these Terms or our policies, or that it poses a risk to us or any third party.</li>
			</ul>

			<h3 class="mt-4">E-Wallet Payment Terms of Service</h3>
			<p>If you use an e-wallet to pay for the paid Services, you agree to the following additional terms:</p>
			<ul>
				<li>You will create and maintain an e-wallet account with a reputable and licensed e-wallet provider, such as Google Pay, Apple Pay, or any other established mobile money providers supported by Stripe, as well as Waafi. You will comply with the terms and conditions of the e-wallet provider and ensure that your e-wallet account is active, secure, and funded.</li>
				<li>You will link your e-wallet account with your Métier Quest account and authorize us to debit your e-wallet account for the fees and any applicable taxes for the paid Services you select.</li>
				<li>You will also authorize us to credit your e-wallet account for any refunds or credits that you may be entitled to due to legitimate errors or if you want to change or upgrade subscription plans under these Terms or our policies. Please report these errors or changes immediately by contacting us at
					<a class="text-primary" href="mailto:support@metier-quest.com">support@metier-quest.com</a>.</li>
				<li>You will verify and confirm every transaction that you make using your e-wallet account and notify us and the e-wallet provider immediately of any errors, disputes, or unauthorized transactions.</li>
				<li>You will not use your e-wallet account for any unlawful, fraudulent, or prohibited activities, or to violate any rights of us or any third party.</li>
				<li>You will not hold us liable for any fees, charges, losses, damages, or claims arising from or relating to your use of your e-wallet account or the e-wallet provider's services. You will indemnify and hold us harmless from any such fees, charges, losses, damages, or claims.</li>
				<li>We are not affiliated with, endorsed by, or responsible for any e-wallet provider or their services. We do not guarantee the availability, security, or functionality of any e-wallet provider or their services. We are not liable for any errors, delays, failures, or disruptions caused by any e-wallet provider or their services. We may suspend, terminate, or limit your access to or use of any e-wallet provider or their services at any time, without notice or liability, if we determine, in our sole discretion, that such access or use is in violation of these Terms or our policies, or that it poses a risk to us or any third party.</li>
			</ul>

			<h2 class="mt-4">Changes to the Services</h2>
			<p>Métier Quest reserves the right, at its sole discretion, to modify or discontinue, temporarily or permanently, the Services (or any part thereof) with or without notice at any time. Changes to the Services may include the removal of features, content, or the introduction of new ones. Users are advised to check the Services regularly for any changes. Continued use of the Services following any changes constitutes acceptance of those changes.</p>

			<h2 class="mt-4">Third-Party Links</h2>
			<p>Our Services may contain links to third-party websites or services that are not owned or controlled by Métier Quest, such as the Psychometric Test, our resume and cover letter builder, and resume checker. Métier Quest has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites or services. Users acknowledge and agree that Métier Quest shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.</p>

			<h2 class="mt-4">Warranty Disclaimer</h2>
			<p>The Services are provided “as is” and without warranty of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, job offers for a particular purpose, or non-infringement. Métier Quest makes no warranty that the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. Your use of the Services is at your own risk.</p>

			<h2 class="mt-4">Indemnity</h2>
			<p>You agree to defend, indemnify, and hold harmless Métier Quest, its founders, shareholders, officers, directors, employees, and agents, from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of our Services, or your violation of these Terms.</p>
			<h1>Policy on Legal Action for Violation of Terms of Service</h1>

			<h2 class="mt-4">Prohibition of Fraudulent Hiring Practices</h2>
			<p>Métier Quest strictly prohibits fraudulent hiring practices. We are committed to protecting job seekers from scams and ensuring fair and transparent employment opportunities.</p>

			<h3 class="mt-4">Fraudulent Hiring Practices Defined:</h3>
			<ul>
				<li>
					<strong>Payment of Fees or Identity Documents:</strong>
					Recruiters demanding payment of a fee or the delivery of identity documents in exchange for a job opportunity or a job that does not exist or has unclear conditions constitute fraudulent hiring.</li>
				<li>
					<strong>False Job Offers:</strong>
					A job offer is considered false if:
					<ul>
						<li>The recruiter does not provide a valid employment contract that adheres to the Labor Code of the relevant country.</li>
						<li>The recruiter demands payment to connect a worker with a company or employer.</li>
						<li>The job is offered in a company that lacks a verifiable certification or registration.</li>
					</ul>
				</li>
				<li>
					<strong>Misleading Employment Conditions:</strong>
					Recruiters may mislead job seekers by offering more favorable employment conditions than what actually exists, leading to insufficient or inhumane work.</li>
			</ul>

			<h3 class="mt-4">How Recruitment Fraud Works:</h3>
			<ul>
				<li>
					<strong>False Promises and Fee Collection:</strong>
					Recruiters often entice job seekers with false promises and collect money before disappearing.</li>
				<li>
					<strong>Multiple Payment Demands:</strong>
					Recruiters may demand multiple payments without notice, claiming additional fees for medical services or insurance.</li>
				<li>
					<strong>Community Meetings and Fake Job Fairs:</strong>
					Recruiters may organize community meetings or job fairs to attract large groups of people and defraud them using fake documents.</li>
				<li>
					<strong>False Visa Promises:</strong>
					Recruiters may offer tourist or non-existent "open" visas, which are not valid for work purposes.</li>
			</ul>

			<h3 class="mt-4">Consequences of Fraudulent Hiring:</h3>
			<ul>
				<li>If a recruiter or employer engages in any of the aforementioned fraudulent hiring practices, Métier Quest will take immediate action, including:
					<ul>
						<li>Account Deletion: We will delete the account of the offending party.</li>
						<li>Legal Action: We may pursue legal action against the fraudulent entity.</li>
						<li>Communication with Authorities: We may report the incident to relevant authorities.</li>
					</ul>
				</li>
				<li>
					<strong>Employer/Recruiter Responsibility:</strong>
					Employers and recruiters using Métier Quest are responsible for adhering to all applicable laws and regulations regarding hiring practices. They must ensure that their job postings are accurate and truthful, and they must not engage in any fraudulent activities.</li>
				<li>
					<strong>Job Seekers' Protection:</strong>
					Métier Quest encourages job seekers to be vigilant and exercise caution when considering job offers. If you encounter any suspicious activities or feel that you are being scammed, please report it to us immediately. We are committed to protecting your rights and ensuring a fair and transparent job search experience.</li>
			</ul>

			<h2 class="mt-4">Legal Actions for Violations</h2>
			<p>If you violate any of these Terms or our policies, or if you cause any harm or damage to us or through any third party, you agree that we may take any legal action as we deem appropriate, including but not limited to:</p>
			<ul>
				<li>Suspending, terminating, or deleting your account and access to our Services.</li>
				<li>Removing, deleting, or disabling any content or data that you uploaded, posted, transmitted, or distributed on or through our Services.</li>
				<li>Reporting, disclosing, or cooperating with any authorities, regulators, or law enforcement agencies regarding any unlawful, fraudulent, or harmful activities or any violations of rights of us or any third party.</li>
				<li>Seeking, enforcing, or recovering any damages, losses, costs, expenses, or fees that we or any third party may incur or suffer as a result of your violation of these Terms or our policies, or your harm or damage to us or any third party.</li>
				<li>Pursuing any other remedies available to us under applicable law or in equity.</li>
			</ul>

			<h3 class="mt-4">Indemnification</h3>
			<p>You agree to indemnify, defend, and hold us and our affiliates, owner/founder, directors, officers, employees, agents, partners, and licensors harmless from and against any and all claims, demands, actions, suits, proceedings, liabilities, damages, losses, costs, expenses, or fees (including reasonable attorneys' fees) that we or any third party may incur or suffer as a result of or arising from your violation of these Terms or our policies, or your harm or damage to us or any third party.</p>

			<h3 class="mt-4">Jurisdiction and Governing Law</h3>
			<p>You agree that we may enforce these Terms or our policies in any jurisdiction where you or your assets are located, and that we may seek injunctive or equitable relief in any court of competent jurisdiction to prevent or stop any violation of these Terms or our policies, or any harm or damage to us or any third party.</p>
			<p>These Terms and our policies are governed by and construed in accordance with the laws of any jurisdiction where we are located and operating, without regard to its conflict of laws principles. You agree to submit to the exclusive jurisdiction and venue of the courts located for any disputes arising out of or relating to these Terms or our policies, or your use of our Services.</p>
		</div>

	</section>


	{% include 'home/_footer.html.twig' %}
{% endblock %}
