{% extends 'admin_base2.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}
	<div class="container-fluid" >


		<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
			<div class="card-body px-4 py-3">
				<div class="row align-items-center">
					<div class="col-9">
						<h4 class="fw-semibold mb-8">
							<i class="ti ti-users fs-8 "></i>
							Messages</h4>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a class="text-muted text-decoration-none" href="#">Candidates</a>
								</li>
								<li class="breadcrumb-item" aria-current="page">Messages & Contacts List</li>
							</ol>
						</nav>
					</div>
					<div class="col-3">
						<div class="text-center mb-n5">
						</div>
					</div>
				</div>
			</div>
		</div>
		
{{ component('Chat', { view: 'employer' }) }}

	</div>
</div>{% endblock %}
