{% extends 'base.html.twig' %}
{% block title %}
	Notifications
{% endblock %}
{% block body %}
	<style>
		.min-height-200 {
			min-height: 200px;
		}
	</style>
	
    <div class="page-content">
    <section class="bg-homelogin" id="home">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="mb-2 pb-3 me-lg-6 text-center">
              <h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Notifications</h1>
              <p class="lead text-muted mb-0 pc-da">You can use this platform to interact with employers</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-re-de-pa">
      <div class="container">
        <div class="row justify-content-center">
          <div class="text-lg-start"> 
            <!-- ---------------------------- -->
            <div class="card mt-4 pb-3">
            {% for item in nots %}
                
              <div class="d-sm-flex align-items-top p-4">
                <div class="flex-grow-1 ms-sm-3">
                  <div>
                    <p class="texthead text-md-end"> {{item.postedAt}}</p>
                    <h6 class="mt-0 mb-1 fs-16 text-md-start hed-minuslow">{{item.content}}</h6>
                  </div>
                </div>
              </div>
              <hr>
            {% endfor %}
            </div>
            <!-- ---------------------------- -->
            <div class="text-center mt-4 pt-2"> <a href="#" class="btn btn-outline-primary" style="border-radius: 50px;">Load More Notifications <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
    </section>
    
    
  </div>

    {% include 'home/_footer.html.twig' %}
{% endblock %}
