{% extends 'base.html.twig' %}

{% block title %}Psychometric
{% endblock %}

{% block body %}
	<!--starrt-->
	<section class="bg-home4" id="home">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class=" pb-2 me-lg-6 text-center mt-4">
						<h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Complete the questionnaire in your
							<span class="text-primary fw-bold">preferred language.
							</span>
						</h1>
						<p class="lead text-muted fs-20 mb-0 pc-da">Please do not rush. Take your time and consider each question carefully, especially those that you feel
							<b>most or least</b>connected to.
						</p>
					</b>
					<p>
				<br>		
				<span class='text-red'>	Please keep your browser open after submitting the questionnaire. You will be redirected to download your report immediately after providing your name, email, and other required information.</span><br>
					Complete the questionnaire in the language you feel most comfortable using. Read each instruction carefully before answering, and respond as honestly as you can. Please note that the final report will be in English.
					Additionally, please check your email for the specific essay scholarship instructions. You will also receive a copy of your full report directly from PeopleMaps, so it is essential to provide a correct and valid email address.
				</p>
			</div>
		</div>
	</div>
</div></section><section class="section bg-purple">
<div class="container">
	<div class="row justify-content-center">
		<div class="text-center text-white">
			<h3 class="mb-0 mt-4">Once you complete the  questionnaire here,<br>
				you don't need to use the link in your email again.</h3>
			<div class="text-center mb-2"><img class="img-fluid" src="{{ asset("assets/images/line.png") }}" width="150" height="7"></div>

			<!-- ---------------------------- -->
			<div class="row">
				<div class="col-lg-6 col-md-6 mt-4">
					<h3 class="mb-4 mt-4 fs-20">ARABIC</h3>
					<div
						class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20267&sid=1284"></script>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 mt-4">
					<h3 class="mb-4 mt-4 fs-20">ENGLISH</h3>
					<div
						class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20267&sid=1283"></script>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 mt-4">
					<h3 class="mb-4 mt-4 fs-20">FRENCH</h3>
					<div
						class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20267&sid=1286"></script>

					</div>
				</div>

				<div class="col-lg-6 col-md-6 mt-4">
					<h3 class="mb-4 mt-4 fs-20">SOMALI</h3>
					<div
						class="text-center"> <script type="text/javascript"  src="https://www.peoplemaps.com/widgets/power-widget.php?aid=20267&sid=1285"></script>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-lg-4 mt-4"></div>

				<div class="col-lg-4 mt-4"></div>
			</div>
			<!-- ---------------------------- -->

		</div>
	</div>
</div></section><section class="pa-min-les">
<div class="container">
	<div class="row">
		<div
			class="col-lg-12">

			<!-- -------------------------- -->
			<div class="alert  bg-info-subtle text-info" role="alert">
				<div class="text-center">
					<img class="gifsize" src="assets/images/gifqu.gif" alt="">
				</div>
				<div class="section-title text-center mb-5 mt-3 pb-2">
					<h3 class="title mb-2 fo-co">Ask
						<span class="text-primary fw-bold">
							your question?</span>
					</h3>
					<p class="text-re mb-1 fw-medium fs-14 ">Get answers from Metier.</p>
					<a href="{{ path("app_home_contacts") }}" class="btn btn-primary waves-effect waves-light mt-4">Post Question &nbsp;
						<i class="fa fa-arrow-right"></i>
					</a>

					<!-- SIMPLE MODALS -->

				</div>
			</div>
			<!-- -------------------------- -->

		</div>
	</div>
</div></section><!-- company-LISTEnd -->{% include 'home/_footer.html.twig' %}{% endblock %}
