{% extends 'base.html.twig' %}

{% block title %}FAQS - Metier Quest
{% endblock %}

{% block body %}
<section class="bg-home4" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="mb-2 pb-3 me-lg-6 text-center">
                    <h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Frequently
                        <span class="text-primary fw-bold">Asked
                            Questions
                        </span>
                    </h1>
                    <p class="lead text-muted mb-0 pc-da">Do you have questions? We have the answers! Explore our
                        comprehensive FAQ for information. If you have further inquiries, feel free to send us a
                        message. We strive to respond within 24 to 48 hours.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-lg-start">
                <!-- ---------------------------- -->


                <div class="accordion accordion-flush faq-box" id="general">
                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Métier Quest?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                Métier Quest is a recruitment platform designed to help businesses find the best talent.
                                It offers features to make the recruitment process more efficient and effective.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What is the trial offer?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                Métier Quest offers a free trial for 6 months. This is a limited-time offer.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What are the different plans offered by Métier Quest?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                Métier Quest offers five different plans: Basic, Professional, Enterprise, 6-month plan,
                                and Annual Plan. Each plan is designed to cater to different business sizes and needs.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What payment gateways does Métier Quest use?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                MMétier Quest uses Stripe (Credit cards) and Waafi/Edahab as payment gateways.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How does Métier Quest ensure the security of my data?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                Métier Quest is committed to protecting your data. We use advanced security measures to
                                protect your information from unauthorized access. Some of these measures include:
                                <ul>
                                    <li>Encryption: All data transmitted to and from our site is encrypted using secure
                                        socket layer (SSL) technology.</li>
                                    <li>Data Storage: User data is stored securely on servers that employ advanced
                                        security measures such as firewalls and intrusion detection systems.</li>
                                    <li>Access Control: Strict access control measures are implemented, ensuring that
                                        only authorized personnel can handle your data.</li>
                                    <li>Regular Updates: Our systems undergo regular updates to protect against the
                                        latest security threats.</li>
                                    <li>Compliance: We adhere to all relevant data protection laws and regulations.</li>
                                </ul>
                                Please note that while we take all possible measures to protect user data, no system can
                                be completely secure. We encourage users to protect their login information and to
                                log-out of their account when they are not using it so we can generate an OTP upon every
                                login. If you have any further questions about data security, please don’t hesitate to
                                ask.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What is Métier Quest’s privacy policy?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                Métier Quest respects your privacy and is committed to protecting your personal data. We
                                only use your information to provide the services you request.
                            </div>
                        </div>
                    </div>

                    <!-- Add more accordion items as needed based on the provided text -->
                    <!-- Example below -->

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Can I change my plan at any time?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#metierQuestFAQ">
                            <div class="accordion-body">
                                Yes, you can upgrade or downgrade your plan at any time to fit your recruitment needs.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What happens to my job posts if I cancel my subscription?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                If you cancel your subscription, your job posts will remain active until the end of your
                                billing cycle.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can I get a refund if I cancel my subscription?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                Métier Quest’s refund policy depends on the terms and conditions of the subscription
                                plan. Please refer to the Refund Policy for more information.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How can I contact Métier Quest for support?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                You can reach out to Métier Quest’s customer service team through the contact
                                information provided on our website.
                            </div>
                        </div>
                    </div>



                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                What to do after a candidate clicks on a job post?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                AAfter they click apply, candidates are taken directly to the job description on your
                                career site so they can apply through our site or your company site. If you do not have
                                a company site, you can post jobs directly on Métier Quest and receive applications on
                                the account, you’ve created on Métier Quest. Then you can, manage all candidates within
                                your dashboard. Review shortlisted applications, schedule interviews and view
                                recommended job seekers.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Will all applications be shortlisted for me?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                Yes, all applications will be automatically shortlisted based on your job requirements. However, you will need to review the applications on the Shortlisted tabs and shortlist the candidates based on the ones you want to advance to the interview stage as.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Will all applications be shortlisted for me?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                No, applications are not automatically shortlisted. You need to review them in the
                                Shortlisted tab and choose candidates for the interview stage.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                How often is the Resume Database updated?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                The Resume Database is updated in real-time as candidates submit or update their
                                profiles, ensuring you have access to the most current information.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How do I purchase a subscription?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                You can purchase a subscription by selecting the desired plan and proceeding to the
                                payment page. Métier Quest accepts payments through Stripe and Waafi/Edahab.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long will it take for my job to go live on Métier Quest?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Your job post will typically go live within 24 hours after being reviewed to ensure it
                                meets our guidelines.
                            </div>
                        </div>
                    </div>

                   

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Can a subscription be shared among multiple users?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                No, each subscription plan is assigned to one account user only. We use various methods
                                to enforce this policy.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How do I cancel my subscription plan?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                You can cancel your subscription in your account settings. Cancellation will take effect
                                at the end of your current billing cycle.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Can I edit a job post?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, you can edit a job post at any time from your account dashboard.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                How do I update job status or delete a job post?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                You can update the job status or delete a job post from your account dashboard.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Can I redirect candidates to an external Application Tracking System (ATS)?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, you can include a link to an external ATS in your job post for candidates to apply.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Can I block a resume and prevent candidates from contacting me directly through Métier
                                Quest?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, you can block specific resumes. Once blocked, the candidate won’t be able to
                                contact you directly through Métier Quest.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                Can I filter search results in the resume database?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, you can filter search results by skills, experience, location, and more.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                How many searches can I perform?
                            </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, you can
                            </div>
                        </div>
                    </div>

                    

                    <div class="accordion-item mt-1 border-0">
                        <h2 class="accordion-header" id="headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThirteen" aria-expanded="false"
                                aria-controls="collapseThirteen">
                                Where do I find my invoices?
                            </button>
                        </h2>
                        <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Your invoices are available in the billing section of your account settings.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>
</section>
<div class="container">
    <section class="bg-home4" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="mb-2 pb-3 me-lg-6 text-center">
                        <h1 class="display-5 fw-semibold mb-3 mt-3 fs-22">Still have questions
                            <span class="text-primary fw-bold">Contact us
                            </span>
                        </h1>
                        <p class="lead text-muted mb-0 pc-da">Do you have questions? We have the answers! Explore our
                            comprehensive FAQ for information. If you have further inquiries, feel free to send us a
                            message. We strive to respond within 24 to 48 hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row py-4">
        {% if form_message == 'success' %}
        <div class="alert alert-success" role="alert">Thank you for connecting with us</div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{ form_message == 'error' ? 'Sorry, Something went wrong. Please try again' : form_message }}</div>
        {% endif %}
        <div class="col-12" id="form_wrapper">
            {% include 'home/contact_form.html.twig' with { form: form, site_key: site_key } %}
            {# <div data-controller="contact-form" data-contact-form-url-value="{{ path('app_contact_form') }}">
                <div class="alert_message"></div>
                <div class="form_container"></div>
            </div> #}
        </div>
    </div>
</div>


{% include 'home/_footer.html.twig' %}
{% endblock %}