<div class="settings-menu">
	<a href="{{ path('app_admin_settings') }}">Metier Quest Profile</a>
	<a href="#">Application</a>
	<a href="#">Security</a>
	<a href="#">Activity</a>
	<a href="#">Privacy</a>
	<a href="#">Payment Method</a>
	<a href="#">API</a>
	<a href="#">Pricing</a>
	<a href="{{ path('app_admin_settings_users') }}">System Users</a>
</div>
