<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Service Form</title>
		<style>/* Add your styles here */</style>
</head>
<body>
	<center>
		<table style="width: 600px;">
			<tr>
				<td style="background-color: #f5f5f5; padding: 20px;">
					<img src="https://metier.systesa.net/assets/images/logo-dark.png" alt="Logo" width="200" height="50">
				</td>
			</tr>
		</table>

		<table style="width: 600px;">
			<h2 style="color: #2d3740; font-size: 1.2em; margin-bottom: 15px;">Subject: Payment Received – Now Please Complete Your Questionnaire to Access Your Psychometric Report</h2>
			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">Dear Subscriber,
				<span style="font-weight: bold;">{{name}}</span>
			</p>

			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">Thank you for choosing the 'What Job Should I Do' Psychometric Test from PeopleMaps on Métier Quest.
				We're excited to help you discover your ideal career path.</p>

			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">Your personalized report will be delivered to you within 24-72 hours, or a maximum of one week depending on demand. This comprehensive assessment will provide valuable insights into your strengths, skills, and interests, and your ideal job environment and guiding you toward fulfilling career opportunities.</p>

			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">After selecting the language in which you're most comfortable completing the questionnaire (English, French, Arabic, or Somali). Please remember, your final report will be provided in English for your convenience.</p>

			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">We look forward to assisting you on your career journey!</p>

			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">Sincerely;</p>

			<p style="color: #343a40; font-size: 1em; line-height: 1.5;">Team Métier Quest</p>

			<p style="font-size: 0.8em; color: #6c757d; line-height: 1.2;">Please note that this is an automated message and replies to this email will not be monitored. If you need to contact us, please reach out to our support team directly at
				<a href="mailto:support@metier-quest.com" style="color: #2d3740;">support@metier-quest.com</a>
			</p>
		</table>

		<table style="width: 600px;">
			<tr>
				<td style="background-color: #f5f5f5; padding: 20px; text-align: center;">
					<p>Copyright &copy; 2024 Metier Quest</p>
					<p>Having trouble? Contact us at
						<a href="mailto:support@metier-quest.com">support@metier-quest.com</a>
					</p>
					<p style="margin: 0; padding: 0;">Follow us:
					</p>
					<a href="https://www.facebook.com/your-facebook-page" target="_blank" style="margin-right: 10px;">
						<img src="https://a.storyblok.com/f/228452/24x25/5e04020c85/facebook-icon_square_24x24.png" alt="Facebook" width="20" height="20">
					</a>
					<a href="https://twitter.com/your-twitter-handle" target="_blank" style="margin-right: 10px;">
						<img src="https://a.storyblok.com/f/228452/24x24/538815078e/x-24px.png" alt="Twitter" width="20" height="20">
					</a>
					<a href="https://www.instagram.com/your-instagram-handle" target="_blank">
						<img src="https://a.storyblok.com/f/228452/24x25/12fedb6aaa/instagram-icon_square_24x24.png" alt="Instagram" width="20" height="20">
					</a>
				</td>
			</tr>
		</table>
	</center>
</body></html>
