<!-- Email Signature Header -->
<table style="border-bottom: 1px solid #cccccc; padding-bottom: 10px; margin-bottom: 10px;" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<a style="text-decoration: none;" href="https://metier-quest.com">
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<img style="display: block; border: 0;" src="https://metier-quest.com/assets/images/logo-dark.png" alt="Company Logo" width="150"/>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				</a>
				&nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td style="text-align: right;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<p style="font-size: 14px; color: #555555; font-family: Arial, sans-serif; margin: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<strong>Metier Quest</strong><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<span style="font-size: 12px;">Excellence in [Your Service/Industry]</span><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<a style="font-size: 12px; color: #007bff; text-decoration: none;" href="https://metier-quest.com">metier-quest.com</a>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
				&nbsp; &nbsp; &nbsp; &nbsp;</td>
		</tr>
	</tbody>
</table>
<!-- Email Signature Body -->
<table style="margin-top: 10px;" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td style="font-family: Arial, sans-serif; font-size: 14px; color: #333333;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<p style="margin: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Best regards,<br/><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<strong>John Doe</strong><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<span style="color: #777777;">Position</span><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<span style="color: #555555;">Metier Quest</span><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<span style="color: #555555;">Phone: +1 (234) 567-890</span><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<a style="color: #007bff; text-decoration: none;" href="mailto:johndoe@metier-quest.com">johndoe@metier-quest.com</a><br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<a style="color: #007bff; text-decoration: none;" href="https://metier-quest.com">www.metier-quest.com</a>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
				&nbsp; &nbsp; &nbsp; &nbsp;</td>
		</tr>
	</tbody>
</table>

